@import "tailwindcss";

button{
  display: flex; 
  background-color: rgb(231, 58, 58) ;
  justify-content: center;
  border-radius: 60em; 
  width: 7rem;
  height: 2.5rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  
}

.features>div, .features div{
  display: flex; 
  width: 6em;
  height: 6em;
  gap:1rem;
  background-color: #f1f5f9;
  justify-content: center;
  border-radius: 1em; 
  flex-wrap: wrap;
  padding: 1rem;
  color: black;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.selected {
  border: 2px  solid black
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}