@import "tailwindcss";

button, .button{
  display: flex; 
  background-color: rgb(231, 58, 58) ;
  flex-direction: row;
  justify-content: center;
  border-radius: 60em; 
  height: 2.5rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-top:1em
}

.features>div, .featuresdiv{
  display: inline-flex; 
  flex-direction: row;
  gap:0.5rem;
  background-color: #e7e9ec;
  justify-content: start;
  align-items: center;
  border-radius: 1em; 
  flex-wrap: wrap;
  padding: 0.7rem;
  color: black;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.featuresdiv img{
  width: 1.5rem;
  height: 1.5rem;
}


.selected {
  border: 2px  solid black
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form input, form textarea{
  background-color: #f2f4f6;
  padding: 0.5rem;
}