@import "tailwindcss";

button{
  display: flex; 
  background-color: rgb(255, 34, 34) ;
  justify-content: center;
  border-radius: 60em; 
  width: 7rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  
}